# ----- Python -----
docs/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.venv/
venv/
.env
.env.*
**/__pycache__/

# ----- Editors / OS -----
.vscode/
.idea/
.DS_Store
Thumbs.db

# ----- Logs / Caches -----
*.log
logs/
.pytest_cache/
.cache/


# ----- Misc -----

output/
